button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
  width: 80%;
}

form#sms {
  margin-top: 50px;
  width: 80%;
}

#cms textarea {
  resize: none;
}

#sms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.person-container {
  margin-top: 50px;
}

.person-list {
  margin-top: 25px;
}

.comment-container {
  margin-top: 30px;
}

.comment {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#person-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.segment-container {
  margin-top: 50px;
}

.segment-list {
  margin-top: 25px;
}

.subsegment-container {
  margin-top: 30px;
}

.subsegment {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#segment-name {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-value {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}
