header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
}

nav {
  text-align: right;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
  width: 80%;
}

form#sms {
  margin-top: 50px;
  width: 80%;
}

form#sms {
  margin-top: 50px;
  width: 80%;
}

#cms textarea {
  resize: none;
}

#sms textarea {
  resize: none;
}

#sms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.person-container {
  margin-top: 50px;
}

.person-list {
  margin-top: 25px;
}

.comment-container {
  margin-top: 30px;
}

.comment {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#person-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.segment-container {
  margin-top: 50px;
}

.segment-list {
  margin-top: 25px;
}

.subsegment-container {
  margin-top: 30px;
}

.subsegment {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#segment-name {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-deal_size {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-deal_count {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#segment-revenue {
  width: 30%;
  height: 35px;
  margin: 5px;
  padding: 10px;
}

#deal_size_yoy {
  height: 25px;
  width: 80px;
  margin: 5px;
  padding: 10px;
}

#deal_count_yoy {
  height: 25px;
  width: 80px;
  margin: 5px;
  padding: 10px;
}

.add_segment {
  margin-top: 50px;
  margin-bottom: 100px;
  vertical-align: middle;
}

header {
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
  background-color: lightsteelblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 40px;
}


footer {
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}

.form-check-input {
margin-left: 25px;
padding: auto;
text-align: center;
}